.bg-custom-blusa {
    background-image: url("../aula_tailwind01/images/blusa.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-custom-tenis {
    background-image: url("../aula_tailwind01/images/tenis-destaques.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-custom-fone {
    background-image: url("../aula_tailwind01/images/fone.png");
    background-size: cover;
    background-repeat: no-repeat;
}